@import url('https://fonts.googleapis.com/css?family=Open+Sans&display=swap');

body {
    background-color: rgb(134, 134, 134);
}

.videoItem, header  {
    width: 100%;
    max-width: 560px;
    margin: auto;
    text-align: center;
    font-family: 'Open Sans', sans-serif;
    padding: 20px;
    background-color: #fff;
}